body { 
    background-color: #b3a369;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#000000d0, #726909c4), url('../imgs/hero.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 400%;
    animation: header-title 2s;
}

#heading-text {
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 200%;
    animation: header-text 2s;
}

#heading-btn {
    font-size: 130%;
}

h2 {
    color: black;
    text-align: center;
    padding-top: 5%;
    margin-bottom: 2%;
    font-size: 350%;
    font-family: 'Libre Baskerville', serif;
}

h2:after {
    display: block;
    height: 3px;
    background-color: #ffffff;
    content: " ";
    width: 20vw;
    margin: 0 auto;
    margin-top: 4vh;
}

h3 {
    font-family: 'Libre Baskerville', serif;
}

.section {
    padding-bottom: 1%;
}

.text {
    text-align: center;
    font-size: 150%;
    width: 60%;
    margin-left: 20%;
    font-family: 'Libre Baskerville', serif;
}

.long-text {
    font-size: 120%;
}

.container {
    margin-bottom: 10%;
}